<section>
    <article>
        <h1>DÉCLARATION DE CONFIDENTIALITÉ</h1>
        <h2>ARTICLE 1 – RENSEIGNEMENTS PERSONNELS RECUEILLIS</h2>
            <p>
                Lorsque vous effectuez une demande sur notre site, dans le cadre de notre processus d’aide et/ou de besoin, nous recueillons les renseignements personnels que vous nous fournissez, tels que votre nom, votre adresse et votre adresse e-mail.               
                Lorsque vous naviguez sur notre boutique, nous recevons également automatiquement l’adresse de protocole Internet (adresse IP) de votre ordinateur, qui nous permet d’obtenir plus de détails au sujet du navigateur et du système d’exploitation que vous utilisez.
                Avec votre permission, nous pourrions vous envoyer des e-mails au sujet de notre site, de nouvelles publications et d’autres mises à jour.
            </p>

    </article>
        <h2>ARTICLE 2 - CONSENTEMENT</h2>
            <p>
                Comment obtenez-vous mon consentement?               
                Lorsque vous nous fournissez vos renseignements personnels pour conclure un accord, vérifier vos adresses et celles de vos, nous présumons que vous consentez à ce que nous recueillions vos renseignements et à ce que nous les utilisions à cette fin uniquement.                
                Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison, à des fins de marketing par exemple, nous vous demanderons directement votre consentement explicite, ou nous vous donnerons la possibilité de refuser.               
                Comment puis-je retirer mon consentement?                
                Si après nous avoir donné votre consentement, vous changez d’avis et ne consentez plus à ce que nous puissions vous contacter, recueillir vos renseignements ou les divulguer, vous pouvez nous en aviser en nous contactant à Comhelp  ou par courrier à: Comhelp 
            </p>

    <article>
        <h2>ARTICLE 3 – DIVULGATION</h2>
        <div> 
            <p>
                Nous pouvons divulguer vos renseignements personnels si la loi nous oblige à le faire ou si vous violez nos Conditions Générales d’Utilisation.
            </p>
        </div>
    </article>
    <article>
        <h2>ARTICLE 4 – COMHELP</h2

            <p>
                Notre site est hébergée sur Heroku. Ils nous fournissent la plateforme en ligne qui nous permet de vous vous mettre en contact pour les differents services du site.                
                Vos données sont stockées dans le système de stockage de données et les bases de données de Comhelp. Vos données sont conservées sur un serveur sécurisé protégé par un pare-feu.                               
                <p>
                    Liens
                </p>               
                Vous pourriez être amené à quitter notre site web en cliquant sur certains liens présents sur notre site. Nous n’assumons aucune responsabilité quant aux pratiques de confidentialité exercées par ces autres sites et vous recommandons de lire attentivement leurs politiques de confidentialité.
            </p>

    </article>
        <h2>ARTICLE 5 – SÉCURITÉ</h2>

        <div> 
            <p>
                Pour protéger vos données personnelles, nous prenons des précautions raisonnables et suivons les meilleures pratiques de l’industrie pour nous assurer qu’elles ne soient pas perdues, détournées, consultées, divulguées, modifiées ou détruites de manière inappropriée.
            </p>
        </div>
        <h2>FICHIERS TÉMOINS (COOKIES)</h2>

            <p>
                Voici une liste de fichiers témoins que nous utilisons. Nous les avons énumérés ici pour que vous ayez la possibilité de choisir si vous souhaitez les autoriser ou non.
                ** identificateur unique de session, permet à Comhelp de stocker les informations relatives à votre session (référent, page de renvoi, etc.).
                ** aucune donnée retenue, persiste pendant 30 minutes depuis la dernière visite. Utilisé par le système interne de suivi des statistiques du fournisseur de notre site web pour enregistrer le nombre de visites.
                ** identificateur unique de session storefront_digest, identificateur unique, indéfini si la boutique possède un mot de passe, il est utilisé pour savoir si le visiteur actuel a accès.
            </p>
    <article>
        <h2>ARTICLE 6 – ÂGE DE CONSENTEMENT</h2>
            <p>
                En utilisant ce site, vous déclarez que vous avez au moins l’âge de la majorité dans votre État ou province de résidence, et que vous nous avez donné votre consentement pour permettre à toute personne d’âge mineur à votre charge d’utiliser ce site web.
            </p>

    </article>

        <h2>ARTICLE 7 – ÂGE DE CONSENTEMENT</h2>

            <p>
                En utilisant ce site, vous déclarez que vous avez au moins l’âge de la majorité dans votre État ou province de résidence, et que vous nous avez donné votre consentement pour permettre à toute personne d’âge mineur à votre charge d’utiliser ce site web.
            </p>
    
    <article>
        <h2>ARTICLE 8 – MODIFICATIONS APPORTÉES À LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ</h2>


            <p>
                Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment, donc veuillez s’il vous plait la consulter fréquemment. Les changements et les clarifications prendront effet immédiatement après leur publication sur le site web. Si nous apportons des changements au contenu de cette politique, nous vous aviserons ici qu’elle a été mise à jour, pour que vous sachiez quels renseignements nous recueillons, la manière dont nous les utilisons, et dans quelles circonstances nous les divulguons, s’il y a lieu de le faire.
                
                Si notre site fait l’objet d’une acquisition par ou d’une fusion avec une autre entreprise, vos renseignements pourraient être transférés aux nouveaux propriétaires pour que nous puissions continuer à vous proposer des informations.
            </p>

        
        <h2>QUESTIONS ET COORDONNÉES</h2>

            <p>
                Si vous souhaitez: accéder à, corriger, modifier ou supprimer toute information personnelle que nous avons à votre sujet, déposer une plainte, ou si vous souhaitez simplement avoir plus d’informations, contactez notre agent responsable des normes de confidentialité à Comhelp ou par courrier à Comhelp 
            </p>

    </article>
    
</section>
